@using BusinessLogic.Enums
@using ServiceOfElectronicDevices.Helpers
@model BusinessLogic.Models.TaskProgressDto


<h2>Aktualizuj</h2>



@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.OrderId)
    @Html.AntiForgeryToken()
    <h4>Uzupełnij poprzednie zadanie:</h4>
    <div class="row">
        @Html.Label("Stan: ", new { @class = "col-md-1 " })
        <div class="col-md-11">
            @Html.DisplayTextFor(m => m.State)
        </div>
    </div>
    <div class="row">
        @Html.Label("Opis: ", new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Model.Description
        </div>
    </div>
    <div class="row">
        @Html.Label("Koszt: ", new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Html.TextBoxFor(m => m.Price)
        </div>
    </div>
    <div class="row">
        @Html.Label("Data rozpoczęcia: ", new { @class = "col-md-2" })
        <div class="col-md-10">
            @Model.DateFrom
        </div>
    </div>


    <div>
        <hr/>

        <h4>Dodaj nowe zadanie:</h4>
        <div class="form-group">
            @Html.Label("Stan: ", new {@class = "col-md-1 control-label"})
            <div class="col-md-11">
                @Html.DropDownListFor(m => m.State, Enum.GetValues(typeof (OrderStates)).OfType<OrderStates>().ToList().Select(e => new SelectListItem {Text = e.GetAttribute(), Value = e.ToString()}))
                @Html.ValidationMessageFor(m => m.State, "", new {@class = "text-danger"})
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.Label("Opis: ", new {@class = "col-md-1 control-label"})
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Description, new {@Value = ""})
            </div>
        </div>
    </div>

    <div>
        
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-default" value="Dodaj"/>
            @Html.ActionLink("Dodaj listę podzespołów", "CommponentsList", "Order", Model, null)
        </div>
    </div>
}